/*=====================*/
/*       Margin        */
/*=====================*/
.marginTop10{
    margin-top: 10px;
}
.marginTop15{
    margin-top: 15px;
}
.marginTop20{
    margin-top: 20px;
}
.marginTop25{
    margin-top: 25px;
}
.marginTop30{
    margin-top: 30px;
}
.marginTop35{
    margin-top: 35px;
}
.marginTop40{
    margin-top: 40px !important;
}
.marginTop45{
    margin-top: 45px !important;
}
.marginTop50{
    margin-top: 50px !important;
}
.marginTop55{
    margin-top: 55px;
}
.marginTo100{
    margin-top: 100px !important;
}
.marginTop23p{
    margin-top: 23%;
}
.marginTop9p{
    margin-top: 9%;
}
/*=====================*/
/*         Text        */
/*=====================*/

.font333{
    color: #333333;
}
.fontFFF{
    color: #fff !important;
}

.textAlignCenter{
    text-align: center;
}
.textAlignJustify{
    text-align: justify;
}
.fontWeightBold{
    font-weight: bold;
}
.fontSizeMedium{
    font-size: medium;
}
.fontSizeXXLarge{
    font-size: xx-large;
}
.textDecorationUnderline{
    text-decoration: underline;
}
.textDecorationNone{
    text-decoration: none;
}
.textDecorationNone:hover{
    text-decoration: none;
}
.listStyleSquare{
    list-style: square;
}
/*=====================*/
/*      Display        */
/*=====================*/

.displayNone{
    display: none
}
.overflowHidden{
    overflow: hidden;
}
.positionFixed{
    position: fixed;
}
/*=====================*/
/*  Width &  Height   */
/*=====================*/
.height-600px{
    height: 600px;
}
.height100vh{
    height: 100vh;
}
.height90vh{
    height: 90vh;

}
.mpzero{
    margin: 0;
    padding: 0;
}
