@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
    font-family: 'brandico', sans-serif;
}

.list-inline a {
    text-decoration: none;
}

.icon{
    display: inline-block;
    position: relative;
    color: #333;
    width: 110px;
    height: 110px;
    text-align: center;
    font-size: 4em;
    line-height: 2em;
    background-color: #fff;
    -webkit-transition:background-color 250ms ease 0s;
    transition:background-color 250ms ease 0s;
    margin: 10px;
}
.icon:hover{
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.icon:active{
    /*box-shadow: inset 0px 1px 4px #3d3d3d, 0px 0px 0px #bdbdbd;*/
    top: 3px;
}



.github:hover{background-color: #666666;}
.linkedin:hover{background-color: #0077b5;}
.twitter:hover{background-color: #55acee;}
.googleplus:hover{background-color: #dc4e41;}
.skype:hover{background-color: #00aff0;}


