<div class="siteBG portfolio" id="portfolio">
    <div class="row">
        <div class="col-md-12">
            <h2 class="pageTitle textAlignCenter marginTop50">
                <strong>Portfolio</strong>
            </h2>
            <uib-carousel class="font333" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide>
                    <div class="col-md-offset-2 col-md-8 portfolioItems">
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/healthco/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','healthco')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">The Health Co.</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/combat/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','combat')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">COMBAT 14</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/databits/thumbnail.PNG" style="background-color: #fff" class="img-responsive" />
                                <a ng-click="projectModal('lg','databits')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">Databits.io</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/biker/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','biker')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">Biker Route</div>
                            </div>
                        </div>

                    </div>

                </uib-slide>
                <uib-slide>
                    <div class="col-md-offset-2 col-md-8 portfolioItems">
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/kietmun/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','kietmun')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">KIETMUN</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/panacloud/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','panacloud')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">PanaCloud Guru</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/doctor/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','doctor')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">OnCall Center</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/sce/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','sce')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">SCE</div>
                            </div>
                        </div>
                    </div>
                </uib-slide>
                <uib-slide>
                    <div class="col-md-offset-2 col-md-8 portfolioItems">
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/right/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','right')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">Right Group</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/asr/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','asr')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">ASR Enterprises</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/trailschat/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','trailschat')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">TrailsChat</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/addiction/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','addiction')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">View More</div>
                            </div>
                        </div>
                    </div>
                </uib-slide>
                <uib-slide>
                    <div class="col-md-offset-2 col-md-8 portfolioItems">
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/acm/thumbnail.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','acm')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">ACM-KIET</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class=" profile-img-container">
                                <img src="img/projects/view.PNG" class="img-responsive" />
                                <a ng-click="projectModal('lg','view')"><span class="fa fa-search-plus fa-4x"></span></a>

                                <div class="projectTitle">View More</div>
                            </div>
                        </div>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </div>
</div>
